*target*
*.jar
*.war
*.ear
*.gitignore

# eclipse specific git ignore
*.pydevproject
*.metadata
*bin/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# sublime workspace
*.sublime_workspace
